{{#if user}}

<body class="text-center">
    <div class="abs-center">
  
        <main role="main" class="inner cover">
          <h1 class="cover-heading">¿Que deseas realizar?</h1>
          <br>
            <a href="/users" class="btn btn-primary">Ver Usuarios   </a>
            <a href="/users" class="btn btn-primary">Ver Productos     </a>
          </p>
        </main>
    </div>
  

    
</body>


{{else}}
<div class="abs-center">

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Bienvenido a QuickInventory</h1>


    </main>
</div>
{{/if}}