
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
	<div class="container">

		<a class="navbar-brand" href="/">Inicio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="">

			<ul class="navbar-nav ml-auto">
				{{#if user}}
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/users">Usuarios</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/productos">Productos</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/reporte/productos">Reporte</a>
					</li>
				</ul>
				{{!-- <ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/categorias">Categorias</a>
					</li>
				</ul> --}}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Usuario
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/users/logout">Salir</a>
					</div>
				</li>
				{{else}}
				<li class="nav-item active">
					<a class="nav-link" href="/users/signin">Inicia Sesion</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/users/signup">Regístrate</a>
				</li>
				{{/if}}
			</ul>
		</div>

	</div>
</nav>