<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">QuickInventory</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
		{{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/users">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reporte/productos">Reporte</a>
        </li>
		<li class="nav-item">
          <a class="btn btn-secondary" href="/users/logout">Cerrar Sesion</a>
        </li>

		{{else}}
				<li class="nav-item">
					<a class="nav-link" href="/users/signin">Inicia Sesion</a>
				</li>
				{{/if}}
      </ul>
    </div>
  </div>
</nav>